labeled_frames/
__pycache__/
*.pyc
*.pyo
.DS_Store
.env
*.egg-info/
dist/
build/
.vscode/
*.code-workspace
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.checkpoints/
*.pth
*.pt
*.pkl
*.onnx
*.csv
*.parquet
*.html
*.mp4
*.avi
*.asf
*.mov
*.mkv
configs/*.yaml
!configs/*.example.yaml
